@import '../../styles/variables.scss';

.equip {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $background-red;
  height: 100vh;

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr) min-content;
    grid-template-rows: min-content min-content 1fr min-content;
    grid-template-areas:
      "title image image arrow-right"
      "subtitle image image ."
      "text image image ."
      "arrow-left image image about";
    // gap: 20px;
    max-width: 70vw;
    max-height: 70vh;
    margin: 0 auto;
  }

  &__title {
    grid-area: title;
    font-size: 100px;
    line-height: 97px;
    font-weight: 600;
    margin: 0;
    color: $white;
    max-width: 630px;
    text-transform: uppercase;
  }

  &__subtitle {
    grid-area: subtitle;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 31px;
    font-weight: 600;
    color: $white;
    margin: 0;
  }

  &__text {
    grid-area: text;
    font-size: 20px;
    font-weight: 400;
    color: $white;
    max-width: 395px;
    margin: 20px 0 0 0;
  }

  &__button_back {
    grid-area: arrow-left;
    align-self: center;
    justify-self: flex-end;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 100px;
    background-image: url('../../vendor/images/button_back.png');
    background-size: contain;
  }

  &__button_forward {
    grid-area: arrow-right;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 100px;
    background-image: url('../../vendor/images/button_back.png');
    background-size: contain;
    transform: rotate(180deg);
  }

  &__about-button {
    grid-area: about;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: $white;
    font-size: 25px;
    font-weight: 500;
  }

  &__about-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }

  &__container-image {
    grid-area: image;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }

  &__image {
    width: auto;
    height: 91%;
    max-width: none;
    max-height: none;
    object-fit: cover;
    box-sizing: border-box;
    filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.5));
    margin-top: -70px;
  }

  @media (max-width: 1799px) {
    .equip__title {
      font-size: 80px;
      line-height: 77px;
    }
  
    .equip__subtitle {
      font-size: 25px;
    }
  
    .equip__text {
      font-size: 18px;
    }
  
    .equip__image {
      height: 80%;
    }
  
    .equip__button_back,
    .equip__button_forward {
      width: 80px;
      height: 80px;
    }
  
    .equip__about-button {
      font-size: 22px;
    }
  
    .equip__about-image {
      width: 80px;
      height: 80px;
    }
  }
  
  @media (max-width: 1518px) {
    .equip__title {
      font-size: 60px;
      line-height: 57px;
    }
  
    .equip__subtitle {
      font-size: 20px;
    }
  
    .equip__text {
      font-size: 16px;
    }
  
    .equip__image {
      height: 70%;
    }
  
    .equip__button_back,
    .equip__button_forward {
      width: 60px;
      height: 60px;
    }
  
    .equip__about-button {
      font-size: 20px;
    }
  
    .equip__about-image {
      width: 60px;
      height: 60px;
    }
  }
  
  @media (max-width: 1069px) {
    .equip__title {
      font-size: 40px;
      line-height: 37px;
    }
  
    .equip__subtitle {
      font-size: 16px;
    }
  
    .equip__text {
      font-size: 14px;
    }
  
    .equip__image {
      height: 60%;
    }
  
    .equip__button_back,
    .equip__button_forward {
      width: 40px;
      height: 40px;
    }
  
    .equip__about-button {
      font-size: 18px;
    }
  
    .equip__about-image {
      width: 40px;
      height: 40px;
    }
  }
}