@import '../../styles/variables.scss';

.equip {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $background-red;
    height: 100vh;

    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
            "title image image arrow-right"
            "subtitle image image ."
            "text image image about"
            "arrow-left image image about";
        gap: 20px;
        max-width: 1200px;
        margin: 0 auto;
    }

    &__title {
        grid-area: title;
        font-size: 100px;
        font-weight: 600;
        margin: 0;
        color: $white;
        max-width: 630px;
        text-transform: uppercase;
    }

    &__subtitle {
        grid-area: subtitle;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 31px;
        font-weight: 600;
        color: $white;
        margin: 0;
    }

    &__text {
        grid-area: text;
        font-size: 20px;
        font-weight: 400;
        color: $white;
        max-width: 395px;
        margin: 20px 0 0 0;
    }

    &__button {
        background-color: transparent;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    
        &_back {
          grid-area: arrow-left;
          width: 50px;
          height: 50px;
          background-image: url('../../vendor/images/button_back.png');
          background-size: contain;
        }
    
        &_forward {
          grid-area: arrow-right;
          width: 50px;
          height: 50px;
          background-image: url('../../vendor/images/button_back.png');
          transform: rotate(180deg);
        }
    }

    &__about-button {
        grid-area: about;
        background-color: transparent;
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        color: $white;
        font-size: 25px;
        font-weight: 500;
    }
    
    &__about-image {
        width: 100px;
        height: 100px;
        object-fit: contain;
    }
    
    &__image {
        grid-area: image;
        width: 100%;
        max-width: 670px;
        height: auto;
        object-fit: contain;
    }
}