@import '../../styles/variables.scss';

.guarantee {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: $background-red;
  width: 100%;
  height: 100vh;
  color: $white;
  overflow: hidden;

  &__background {
    position: absolute;
    width: auto;
    height: 100%;
    top: 0;
    right: 0;
    transform: translateX(0);

    &-image {
      width: auto;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    margin-left: 15vw;
    height: 80%;
    opacity: 1;
    transform: translateX(0);
  }

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    height: 100%;
  }

  &__title {
    font-size: 54px;
    font-weight: 900;
    line-height: 1.2;
    margin: 0;
    text-transform: uppercase;
  }

  &__highlight {
    display: block;

    &__years {
      font-size: 180px;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
  }

  &__text {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 20px;
    opacity: 0;
    transform: translateX(50px);
  }

  &__terms {
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    z-index: 0;
    // max-height: 70vh;
    // overflow: hidden;
    padding: 0;
    width: 41%;

    &-list {
      list-style: decimal;
      list-style-position: inside;
      margin: 0;
      padding: 0;
      font-size: 11px;
      line-height: 1.5;
      column-count: 2;
      column-gap: 20px;
    }

    &-item {
      break-inside: avoid;
      margin: 0 0 10px 0;
    }
  }

  @media (max-width: 1315px) {
    &__terms {
      left: 40%;
      width: 45%;

      &-list {
        column-count: 2;
      }

      &-item {
        font-size: 10px;
      }
    }

    &__highlight {
      font-size: 40px;
      &__years {
        font-size: 140px;
      }
    }
  }

  @media (max-width: 1069px) {
    &__terms {
      width: 45%;
    }
  }

  @media (max-width: 980px) {
    &__terms {
      left: 45%;
      width: 40%;

      &-list {
        column-count: 2;
        column-gap: 4px;
      }

      &-item {
        font-size: 9px;
      }
    }

    &__highlight {
      &__years {
        font-size: 100px;
      }
    }
  }

  @media (max-width: 815px) {
    &__title {
      line-height: 1;
    }

    &__terms {
      left: 45%;
      width: 40%;

      &-list {
        column-count: 2;
        column-gap: 4px;
      }

      &-item {
        font-size: 9px;
      }
    }

    &__highlight {
      font-size: 30px;

      &__years {
        font-size: 90px;
      }
    }
  }
}