@import '../../styles/variables.scss';

.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 69vw;
    justify-content: center;
    align-items: center;
    margin: 0;
    z-index: 2;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;

    &.visible {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__title {
    font-size: 55px;
    font-weight: 600;
    margin: 0;
    color: $white;
    max-width: 630px;
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  &__subtitle {
    font-size: 20px;
    margin: 2vh 0 0 0;
    color: $white;
    max-width: 595px;
    font-weight: 400;
  }

  &__hero-title {
    font-size: 55px;
    font-weight: 600;
    margin: 4vh 0 0 0;
    color: $white;
    max-width: 500px;
    text-transform: uppercase;
    letter-spacing: 6px;
  }

  &__button {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 600;
    color: $white;
    background-color: transparent;
    border: 2px solid $white;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
      color: $white;
    }
  }

  &__video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: 1;
    pointer-events: none; // Отключаем взаимодействие с видео
  }
}