@import '../../styles/variables.scss';

.support {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: $background-red;

  &__phone-image {
    position: absolute;
    top: -360px;
    right: -400px;
    width: 120%;
    height: 140%;
    background-image: url('../../vendor/images/support.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
  }

  &__content {
    position: absolute;
    top: 40%;
    left: 14.3vw;
    transform: translateY(-50%);
    max-width: 50%;
    color: #fff;
    box-sizing: border-box;
    opacity: 0; // Начальная непрозрачность 0
    z-index: 1;
    display: flex;
    flex-direction: row;
    height: 35vh;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 90px;
    font-weight: bold;
    margin: 0 0 20px 0;
    text-transform: uppercase;
  }

  &__description {
    font-size: 18px;
    line-height: 1.5;
    max-width: 450px;
  }

  &__icons {
    height: 100%;
    display: flex;
    gap: 20px;
    align-items: flex-end;
  }

  &__icon {
    width: 150px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;

    &__phone {
      background-image: url('../../vendor/images/buttons/button_mobile.svg');
    }

    &__telegram {
      background-image: url('../../vendor/images/buttons/button_Tg.svg');
    }
  }
}