@import '../../styles/variables.scss';

.support {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: $background-red;

  &__phone-image {
    position: absolute;
    top: 100px;
    left: 50px;
    width: 1300px;
    height: 600px;
    background-image: url('../../vendor/images/support.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__content {
    position: relative;
    width: min-content;
    color: $white;
    box-sizing: border-box;
    opacity: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 14.3vw;
    top: 28vh;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 90px;
    font-weight: bold;
    margin: 0 0 20px 0;
    text-transform: uppercase;
  }

  &__description {
    font-size: 18px;
    line-height: 1.5;
    max-width: 450px;
  }

  &__icons {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    align-items: flex-end;
  }

  &__icon {
    width: 150px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;

    &__phone {
      background-image: url('../../vendor/images/buttons/button_mobile.svg');
    }

    &__telegram {
      background-image: url('../../vendor/images/buttons/button_Tg.svg');
    }
  }

  @media screen and (max-width: 1200px) {
      &__title {
        font-size: 60px;
      }

      &__description {
        font-size: 14px;
      }

      &__icon {
        width: 100px;
        height: 100px;
      }
  }

  @media screen and (max-width: 800px) {
    &__title {
      font-size: 40px;
    }

    &__description {
      font-size: 10px;
    }

    &__icon {
      width: 60px;
      height: 60px;
    }
  }

  @media screen and (max-width: 530px) {
    &__phone-image {
      width: 1500px;
      height: 750px;
      top: 0;
      left: 0;
      background-image: url("/mixtrade/src/vendor/images/red-phone-mob.svg");
      background-size: contain;
      background-position: center;
    }

    &__content {
      top: 10vh;
      flex-direction: column;
      height: 80%;
      justify-content: space-between;
    }

    &__title {
      font-size: 40px;
    }

    &__description {
      font-size: 10px;
      font-weight: 400;
    }

    &__icons {
      justify-content: flex-end;
    }

    &__icon {
      &__phone {
        width: 80px;
        height: 80px;
      }
    }
  }
}
