@import '../../styles/variables.scss';

.support {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: $background-red;

  &__phone-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 120%;
    background-image: url('../../vendor/images/support.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__content {
    position: relative;
    width: min-content;
    color: #fff;
    box-sizing: border-box;
    opacity: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 14.3vw;
    top: 17vh;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 90px;
    font-weight: bold;
    margin: 0 0 20px 0;
    text-transform: uppercase;
  }

  &__description {
    font-size: 18px;
    line-height: 1.5;
    max-width: 450px;
  }

  &__icons {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    align-items: flex-end;
  }

  &__icon {
    width: 150px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;

    &__phone {
      background-image: url('../../vendor/images/buttons/button_mobile.svg');
    }

    &__telegram {
      background-image: url('../../vendor/images/buttons/button_Tg.svg');
    }
  }
}

@media (max-width: 1499px) {
  .support {
    &__content {
      max-width: 80%;
    }

    &__container {
      max-width: 500px;
    }

    &__title {
      font-size: 60px;
    }

    &__description {
      font-size: 16px;
      max-width: 100%;
    }

    &__icons {
      gap: 15px;
    }

    &__icon {
      width: 100px;
      height: 100px;
    }
  }
}

/* Медиа-запрос для экранов с шириной до 375px */
@media (max-width: 375px) {
  .support {
    &__content {
      max-width: 90%;
      padding-left: 5vw;
      align-items: center;
      text-align: center;
    }

    &__title {
      font-size: 40px;
    }

    &__description {
      font-size: 14px;
    }

    &__icons {
      gap: 10px;
      justify-content: center;
    }

    &__icon {
      width: 80px;
      height: 80px;
    }
  }
}