@import '../../styles/variables';

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.progress-bar {
  width: 80%;
  height: 20px;
  background-color: #e0e0e0;
  margin-top: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar__fill {
  height: 100%;
  background-color: #3b82f6;
  transition: width 0.3s ease;
}

.equipment {
  position: relative;
  height: 200vh;

  &__canvas {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh; // Высота равна высоте окна просмотра
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; // Высота равна высоте окна просмотра
    display: flex;
    align-items: center;
    justify-content: flex-end;
    pointer-events: none;
    z-index: 1;
  }

  &__text {
    font-size: 12rem;
    font-weight: 900;
    color: white;
    padding: 0;
    white-space: nowrap;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: -7px;
    pointer-events: auto;
  }
}