@import '../../styles/variables.scss';

.equipment {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10vh 5vw 5vh 5vw;
  height: 100vh;
  background-color: $background-red;

  &__three-columns {
    display: flex;
    justify-content: center;
  }

  &__column-first {
    display: flex;
    flex-direction: column;
  }

  &__column-second {
    display: flex;
  }

  &__column-third {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    display: flex;
    font-size: 100px;
    font-weight: 600;
    margin: 0;
    color: $white;
    max-width: 630px;
    text-transform: uppercase;
  }

  &__subtitle {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 31px;
    font-weight: 600;
    color: $white;
    margin: 0;
  }

  &__text {
    font-size: 20px;
    font-weight: 400;
    color: $white;
    max-width: 395px;
    margin: 100px 0 0 0;
  }

  &__button {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    &_back {
      display: flex;
      width: 100px;
      height: 100px;
      background-image: url('../../vendor/images/button_back.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      cursor: pointer;
      margin: 160px 0 0 0;
    }

    &_forward {
      display: flex;
      width: 100px;
      height: 100px;
      background-image: url('../../vendor/images/button_back.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      transform: rotate(180deg);
      cursor: pointer;
    }

    // &_about {
    //   display: flex;
    //   width: 100px;
    //   height: 100px;
    //   background-image: url('../../vendor/images/buttons/button_bm670.png');
    //   background-repeat: no-repeat;
    //   background-size: contain;
    //   background-position: center;
    //   cursor: pointer;
    // }
  }

  &__about-button {
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: $white;
    font-size: 25px;
    font-weight: 500;
  }

  &__about-image {
    width: 180px;
    height: 180px;
    object-fit: cover;
    display: flex;
  }

  &__image {
    width: 700px;
    height: 670px;
    object-fit: cover;
    display: flex;
  }
}