// @import '../../styles/variables.scss';

// .hero {
//   position: relative;
//   height: 200vh;

//   &__frame {
//     position: sticky;
//     top: 0;
//     width: 100%;
//     height: auto;
//   }

//   &__container {
//     position: absolute;
//     top: 66%;
//     left: 50%;
//     transform: translate(-50%, -30%);
//     display: flex;
//     flex-direction: column;
//     width: 69vw;
//     justify-content: center;
//     margin: 0;
//     z-index: 1;
//     opacity: 0;
//   }

//   &__title {
//     font-size: 55px;
//     font-weight: 600;
//     margin: 0;
//     color: $white;
//     max-width: 630px;
//     text-transform: uppercase;
//     letter-spacing: 5px;
//   }

//   &__subtitle {
//     font-size: 20px;
//     margin: 2vh 0 0 0;
//     color: $white;
//     max-width: 595px;
//     font-weight: 400;
//   }

//   &__hero-title {
//     font-size: 55px;
//     font-weight: 600;
//     margin: 4vh 0 0 0;
//     color: #fff;
//     max-width: 500px;
//     text-transform: uppercase;
//     letter-spacing: 6px;
//   }
// }

@import '../../styles/variables.scss';

.hero {
  position: relative;
  height: 200vh;

  &__frame {
    position: sticky;
    top: 0;
    width: 100%;
    height: auto;
  }

  &__container {
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -30%);
    display: flex;
    flex-direction: column;
    width: 69vw;
    justify-content: center;
    margin: 0;
    z-index: 1;
    opacity: 0;
  }

  &__title {
    font-size: 55px;
    font-weight: 600;
    margin: 0;
    color: $white;
    max-width: 630px;
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  &__subtitle {
    font-size: 20px;
    margin: 2vh 0 0 0;
    color: $white;
    max-width: 595px;
    font-weight: 400;
  }

  &__hero-title {
    font-size: 55px;
    font-weight: 600;
    margin: 4vh 0 0 0;
    color: #fff;
    max-width: 500px;
    text-transform: uppercase;
    letter-spacing: 6px;
  }
}

.loading {
  text-align: center;
  margin-top: 50px;
  font-size: 18px;
}

.progress-bar {
  width: 80%;
  height: 10px;
  background-color: #e0e0e0;
  margin: 20px auto;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar__fill {
  height: 100%;
  background-color: #76c7c0;
  width: 0%;
  transition: width 0.2s ease;
}