$background: #fcfcfc;
$black: #282828;
$orange: #ff8f0b;
$orange-pale: #ff8f0b33;
$button-active: #ffba50;
$light-gray: #aaa;
$grey: #5e5e5e;
$grey-dark: #3f3f3f;
$white: #fff;
$neutral-gray-900: #141c24;
$red: #f05252;
$red30: #f052524d;
$line: #e9e9e9;
$green: #70b26a;
$button-grey: #f5f5f5;
$raisinBlack: #232323;
$grey-subtitle: #7a7575;

$zIndexes: (
    search: 15,
    header: 10,
    menu: 10,
    drawer: 0,
    map: -1,
);
