@import '../../styles/variables.scss';

.about {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: $background-black;
  color: $white;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
  z-index: 2000;
  pointer-events: none;

  &--active {
    transform: translateX(0);
    pointer-events: auto;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    padding: 7rem 7rem;
  }

  &__column {
    flex: 1;
    padding: 0 2rem;
    overflow-y: auto;

    &:first-child {
      margin-right: 3rem;
    }
  }

  &__image-container {
    position: relative;
    margin-bottom: 2rem;

    .about__image {
      width: 100%;
      max-width: 650px;
      height: auto;
      object-fit: cover;
    }
  }

  &__title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  &__description {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
  }
}