// @import '../../styles/variables.scss';

// .header {
//   position: fixed;
//   display: flex;
//   padding: 0 9vw 0 15vw;
//   align-items: center;
//   justify-content: space-between;
//   width: 100%;
//   height: 130px;
//   z-index: 1;

//   &__logo {
//     display: flex;
//     width: 450px;
//   }
// }

// .header__burger {
//   position: fixed;
//   top: 50px;
//   right: 9vw;
//   z-index: 3000;
//   display: flex;
//   width: 60px;
//   height: 20px;
//   cursor: pointer;
//   transition: 0.5s ease-in-out;

//   &::before,
//   &::after {
//     content: '';
//     position: absolute;
//     height: 7px;
//     width: 100%;
//     background: $white;
//     border-radius: 4px;
//     transition: 0.25s ease-in-out;
//   }

//   &::before {
//     top: 0;
//   }

//   &::after {
//     top: 10px;
//   }

//   &_active {
//     &::before {
//       transform: rotate(45deg);
//       top: 10px;
//     }

//     &::after {
//       transform: rotate(-45deg);
//       top: 10px;
//     }
//   }
// }

@import '../../styles/variables.scss';

.header {
  position: fixed;
  display: flex;
  padding: 0 9vw 0 15vw;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background-color: $background-black;
  z-index: 3000;

  &__logo {
    display: flex;
    width: 250px;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.8;
    }
  }

  &__logo-link {
    text-decoration: none;
  }
}

.header__burger {
  position: fixed;
  top: 35px;
  right: 9vw;
  z-index: 3000;
  display: flex;
  width: 40px;
  height: 15px;
  cursor: pointer;
  transition: 0.5s ease-in-out;

  &::before,
  &::after {
    content: '';
    position: absolute;
    height: 4px;
    width: 100%;
    background: $white;
    border-radius: 4px;
    transition: 0.25s ease-in-out;
  }

  &::before {
    top: 0;
  }

  &::after {
    top: 8px;
  }

  &_active {
    &::before {
      transform: rotate(45deg);
      top: 10px;
    }

    &::after {
      transform: rotate(-45deg);
      top: 10px;
    }
  }
}