html, body {
  margin: 0;
  height: 100%;
  min-width: 760px;
}
  
.scroll-container {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-section {
  min-height: 100vh;
  scroll-snap-align: start;
}

.scroll-section:last-child {
  min-height: auto;
}
