@import './vendor/fonts/fonts.css';
@import './vendor/normalize.css';
@import './styles/variables.scss';
* {
    box-sizing: border-box;
}
body {
    font-family: Montserrat, sans-serif;
    color: $black;
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;
}

h1,
h2,
h3,
ul,
p {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}
.button {
    border: none;
    padding: 0;
    background-color: transparent;
}

.bronfood-scrollbar {
    overflow-y: auto;
}

.bronfood-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.bronfood-scrollbar::-webkit-scrollbar-track {
    background-color: #ff8f0b33;
}

.bronfood-scrollbar::-webkit-scrollbar-thumb {
    background-color: $orange;
    border-radius: 4px;
}
